<div style="width: 100%;" nz-row>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">DEPORTE 1</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">DEPORTE 1</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">DEPORTE 1</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">DEPORTE 1</div>
    </button>
  </div>
</div>
<div style="width: 100%;" nz-row>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">DEPORTE 1</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">DEPORTE 1</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">DEPORTE 1</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">DEPORTE 1</div>
  </button>
</div>
</div>
