<div style="width: 100%;" nz-row>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav" (click)="onSelectDeporte()">
      <div class="text-deportes">Fútbol</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">Básquetbol</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">Tennis</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav">
      <div class="text-deportes">Pilates</div>
    </button>
  </div>
</div>
<div style="width: 100%;" nz-row>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">Natación</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">Yoga</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">Spinning</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav">
    <div class="text-deportes">Voleibol</div>
  </button>
</div>
</div>
