<div nz-row [nzGutter]="10" style="padding-left: 1rem; padding-right: 1rem">
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav-futbol" (click)="onSelectFutbol()">
      <div class="text-deportes">Fútbol</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav-basquetbol" (click) = "onSelectBasquetbol()">
      <div class="text-deportes">Básquetbol</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav-tennis" (click) = "onSelectTennis()">
      <div class="text-deportes">Tennis</div>
    </button>
  </div>
  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
    <button class="tarjeta-deporte-fav-rapido" (click) = "onSelectRapido()">
      <div class="text-deportes">Fútbol Rápido</div>
    </button>
  </div>
</div>

<div nz-row [nzGutter]="10" style="padding-left: 1rem; padding-right: 1rem">
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav-natacion" (click) = "onSelectNatacion()">
    <div class="text-deportes">Natación</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav-yoga" (click) = "onSelectYoga()">
    <div class="text-deportes">Yoga</div>
  </button>
</div>
<div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
  <button class="tarjeta-deporte-fav-spinning" (click) = "onSelectSpinning()">
    <div class="text-deportes">Spinning</div>
  </button>
</div>
</div>
