.grid-container {
  position: relative;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.mapa-container {
  padding: 6rem 1rem 1rem 8rem;
}

.titulo-mapa {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2rem;
  color: #000000;
  margin-top: 0.625rem;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.foto {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  display: block;
}

.responsive-image {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 2rem;
}

.acomodo-input {
  align-items: center;
  justify-content: center;
  margin-left:5rem;
}

.input-container {
  width: 20rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  /* margin-left: 5%; */
  display: flex;
  flex-direction: column;
  height: 25rem;
}

.forma {
  border: none !important; /*esta no funcionan*/
}

::ng-deep.mat-mdc-text-field-wrapper {
  border: none !important; /*esta no funcionan*/
  height: 25rem !important;
  border-radius: 1rem !important; /*esta no funcionan*/
}

.subir-texto {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.botones-container {
  border: 2px dashed rgba(0, 51, 160, 0.2);
  border-radius: 1.25rem;
  height: 12.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 0.625rem;
  justify-content: center;
  align-items: center;
}

.image-text {
  font-size: 0.9rem;
}

.drop-image-text {
  color: black;
}

.navigate-image-text {
  color: black;
}

.nuevo-form-archivo {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.exito {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1rem;
  text-align: center;
}

.custom-spinner {
  margin-left: 8.5rem;
  margin-top: -6rem;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #0033A0;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #0033A0;
}

@media (max-width: 93.75rem) {
  .foto {
    width: 100%;
  }
  .input-container {
    width: 20rem;
  }
}

@media (max-width: 93.75rem) {
  .acomodo-input {
    align-items: center;
    justify-content: center;
  } 
  .input-container {
    width: 20rem;
  }
}

@media (max-width: 81.25rem) {
  .input-container {
    width: 20rem;
  }
  .acomodo-input {
    margin-top: 3rem;
  }  
}

@media (max-width: 75rem) {
  .foto {
    width: 100%;
  }
}

@media (max-width: 60rem) {
  .mapa-container {
    padding: 6rem 1rem 1rem 1rem;
  }
  .responsive-image {
    padding: 1rem;
  }
}

@media (max-width: 27.812rem) {
  .input-container {
    height: 25rem;
    margin-left: -3rem;
  }
  .responsive-image {
    padding: 0.5rem;
  }
}

@media (max-width: 24.375rem) {
  .input-container {
    height: 25rem;
    margin-left: -4rem;
  }
  .responsive-image {
    padding: 0.25rem;
  }
}