.grid-container {
  position: relative;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.mapa-container {
  padding: 6rem 1rem 1rem 8rem;
}

.titulo-mapa {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
  margin-top: 10px;
}

.foto {
  width: 60%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: block;
}

.responsive-image {
  width: 100%;
  height: auto;
  overflow: auto;
}

@media (max-width: 960px) {
  .mapa-container {
    padding: 6rem 1rem 1rem 1rem;
  }
}

@media (max-width: 1300px) {
  .foto {
    width: 100%;
  }
}