<div class="grid-container">
  <div class="reservaciones-container">
    <div class="reservaciones-lista">
      <div nz-row class="reservaciones-content">
        <div
          nz-col
          class="reservaciones-image-container"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <div class="reservaciones-image"></div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Fecha</div>
          <div class="reservaciones-item-text">21 Febrero</div>
          <div class="reservaciones-item-text">Jueves, 2pm - 3pm</div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Lugar</div>
          <div class="reservaciones-item-text">CBD1</div>
          <div class="reservaciones-item-text">Cancha Tennis 2</div>
        </div>
        <div
          nz-col
          class="reservaciones-estatus"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Estatus</div>
          <button mat-button disabled color="estatus-activo">
            <div class="activo-text">Activa</div>
          </button>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Equipo</div>
          <div class="reservaciones-item-text">
            Raqueta, Pelotas, Ropa Deportiva
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-cancelar"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <button mat-button color="button-cancelar">
            <div class="white-text">Cancelar Reservación</div>
          </button>
        </div>
      </div>

      <div nz-row class="reservaciones-content">
        <div
          nz-col
          class="reservaciones-image-container"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <div class="reservaciones-image"></div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Fecha</div>
          <div class="reservaciones-item-text">21 Febrero</div>
          <div class="reservaciones-item-text">Jueves, 2pm - 3pm</div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Lugar</div>
          <div class="reservaciones-item-text">CBD1</div>
          <div class="reservaciones-item-text">Cancha Tennis 2</div>
        </div>
        <div
          nz-col
          class="reservaciones-estatus"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Estatus</div>
          <button mat-button disabled color="estatus-expirada">
            <div class="expirada-text">Expirada</div>
          </button>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Equipo</div>
          <div class="reservaciones-item-text">
            Raqueta, Pelotas, Ropa Deportiva
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-cancelar"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <button mat-button color="button-cancelar">
            <div class="white-text">Cancelar Reservación</div>
          </button>
        </div>
      </div>

      <div nz-row class="reservaciones-content">
        <div
          nz-col
          class="reservaciones-image-container"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <div class="reservaciones-image"></div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Fecha</div>
          <div class="reservaciones-item-text">21 Febrero</div>
          <div class="reservaciones-item-text">Jueves, 2pm - 3pm</div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Lugar</div>
          <div class="reservaciones-item-text">CBD1</div>
          <div class="reservaciones-item-text">Cancha Tennis 2</div>
        </div>
        <div
          nz-col
          class="reservaciones-estatus"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Estatus</div>
          <button mat-button disabled color="estatus-cancelada">
            <div class="cancelada-text">Cancelada</div>
          </button>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Equipo</div>
          <div class="reservaciones-item-text">
            Raqueta, Pelotas, Ropa Deportiva
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-cancelar"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        ></div>
      </div>
    </div>
  </div>
</div>
