<div class="grid-container">
  <div class="reservaciones-container">
    <div
      class="reservaciones-lista"
      *ngFor="let reservacion of listaReservaciones"
    >
      <div nz-row class="reservaciones-content">
        <div
          nz-col
          class="reservaciones-image-container"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <div class="reservaciones-image"></div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Fecha</div>
          <div class="reservaciones-item-text">
            {{ reservacion.dia }}
          </div>
          <div class="reservaciones-item-text">
            {{ reservacion.horario }}
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Lugar</div>
          <div class="reservaciones-item-text">{{ reservacion.zona }}</div>
          <div class="reservaciones-item-text">{{ reservacion.espacio }}</div>
        </div>
        <div
          nz-col
          class="reservaciones-estatus"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Estatus</div>
          <button
            mat-button
            disabled
            [color]="
              reservacion.estatus == 'Activa'
                ? 'estatus-activo'
                : reservacion.estatus == 'Cancelada'
                ? 'estatus-cancelada'
                : 'estatus-expirada'
            "
          >
            <div
              [ngClass]="
                reservacion.estatus == 'Activa'
                  ? 'activo-text'
                  : reservacion.estatus == 'Cancelada'
                  ? 'cancelada-text'
                  : 'expirada-text'
              "
            >
              {{ reservacion.estatus }}
            </div>
          </button>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Equipo</div>
          <div class="reservaciones-item-text">
            Raqueta, Pelotas, Ropa Deportiva
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-cancelar"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <button
            mat-button
            color="button-cancelar"
            *ngIf="reservacion.estatus == 'Activa'"
          >
            <div class="white-text" (click)="openDialog(reservacion)">
              Cancelar Reservación
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
