<!-- Contenedor de la pagina Reservaciones -->
<div class="grid-container">
  <div class="reservaciones-container">
    <!-- Si no existen reservaciones, entonces muestra una imagen y el texto "No se encontraron resultados" -->
    <div *ngIf="listaReservaciones.length == 0" class="reservaciones-empty">
      <img
        class="reservaciones-empty-icon"
        src="./assets/img/recsports_logo_icon.png"
        alt=""
      />
      <div class="reservaciones-empty-text">No se encontraron resultados</div>
    </div>

    <!-- Para cada reservacion se muestra el siguiente contenido -->
    <div
      class="reservaciones-lista"
      *ngFor="let reservacion of listaReservaciones"
    >
      <!-- Imagen del espacio de la reservacion -->
      <div nz-row class="reservaciones-content">
        <div
          nz-col
          class="reservaciones-image-container"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <div class="reservaciones-image">
            <div class="tarjeta-espacio"></div>
            <img
              [src]="reservacion.imagen"
              alt=""
              class="preview"
              onerror="this.onerror=null;this.src='./assets/img/recsports_logo_icon.png';"
            />
          </div>
        </div>
        <!-- Detalles de la reservacion -->
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Fecha</div>
          <div class="reservaciones-item-text">
            {{ reservacion.dia }}
          </div>
          <div class="reservaciones-item-text">
            {{ reservacion.horario }}
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Lugar</div>
          <div class="reservaciones-item-text">
            {{ reservacion.deporte_nombre }}
          </div>
          <div class="reservaciones-item-text">{{ reservacion.zona }}</div>
          <div class="reservaciones-item-text">{{ reservacion.espacio }}</div>
        </div>
        <div
          nz-col
          class="reservaciones-estatus"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <!-- Estatus de la Reservacion -->
          <div class="reservaciones-item-title">Estatus</div>
          <button
            mat-button
            disabled
            [color]="
              reservacion.estatus == 'Activa'
                ? 'estatus-activo'
                : reservacion.estatus == 'Cancelada'
                ? 'estatus-cancelada'
                : 'estatus-expirada'
            "
          >
            <div
              [ngClass]="
                reservacion.estatus == 'Activa'
                  ? 'activo-text'
                  : reservacion.estatus == 'Cancelada'
                  ? 'cancelada-text'
                  : 'expirada-text'
              "
            >
              {{ reservacion.estatus }}
            </div>
          </button>
        </div>
        <div
          nz-col
          class="reservaciones-item"
          nzXs="12"
          nzSm="12"
          nzMd="6"
          nzLg="3"
          nzXl="3"
        >
          <div class="reservaciones-item-title">Equipo</div>
          <div class="reservaciones-item-text">
            {{ reservacion.materiales }}
          </div>
        </div>
        <div
          nz-col
          class="reservaciones-cancelar"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
        >
          <!-- Boton para eliminar una reservacion -->
          <button mat-button color="button-cancelar">
            <div class="white-text" (click)="openDialog(reservacion)">
              Eliminar reservación
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
