<!-- Modal para Borrar un Deporte -->
<div mat-dialog-content class="modal-container">
  <div class="modal-header">
    <div class="modal-title title-info">¿Desea borrar este deporte?</div>
    <div>
      <button
        mat-mini-fab
        color="cancel-button"
        [ngStyle]="{ color: '#E4E4E4', transform: 'scale(0.8)' }"
        (click)="onNoClick()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Detalles del Deporte -->
  <div class="modal-info">
    <span class="modal-title">Nombre: </span>
    <span class="modal-text">{{ this.data.deporte.nombre }}</span>
  </div>

  <!-- Boton para Borrar el Deporte -->
  <div class="modal-confirmar">
    <button
      color="cancel-espacio-button"
      mat-button
      (click)="onCancelReservacion()"
    >
      Borrar Espacio
    </button>
  </div>
</div>
