<!-- Contenedor de la pagina de Inicio de Sesion -->
<mat-sidenav-container>
  <div class="background-image">
    <div class="login-container">
      <!-- Imagen de Athletics -->
      <div>
        <h1 class="login-heading">Athletic</h1>
        <div class="header-image-container">
          <img
            class="header-image"
            src="/assets/img/recsports_logo.png"
            alt="recsports logo"
          />
        </div>
      </div>

      <!-- Formulario de Inicio de Sesion -->
      <form
        class="login-form-container"
        [formGroup]="loginform"
        (ngSubmit)="onLogin()"
      >
        <!-- MATRICULA -->
        <div class="login-input-container">
          <label class="login-input-label" for="floatingInput">Matrícula</label>
          <mat-form-field appearance="fill">
            <mat-label>A0XXXXXXX</mat-label>
            <input matInput formControlName="matricula" />
          </mat-form-field>
        </div>
        <!-- CONTRASENA -->
        <div class="login-input-container">
          <label class="login-input-label" for="floatingInput"
            >Contraseña</label
          >
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- BOTON para niciar sesion -->
        <div class="login-button-container">
          <button
            class="login-button"
            mat-raised-button
            type="submit"
            style="background-color: #00035e; color: white"
            *ngIf="loading === false"
          >
            Iniciar Sesion
          </button>

          <!--BOTON de Cargando -->
          <button
            class="login-button"
            mat-raised-button
            type="submit"
            *ngIf="loading"
            disabled="true"
            style="background-color: #00035e; color: white"
          >
            <div class="custom-spinner">
              <mat-spinner color="#ffffff" diameter="30"></mat-spinner>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-sidenav-container>
