<div class="grid-container">
  <div class="deportes-container">
   


    <div align = "center">

      <p class="font1">Busca tu deporte </p>
      <div class="searchBox">
        <input class="searchInput font2"type="text" name="" placeholder="Buscar...">
        <button class="searchButton" href="#">
            <i class="material-icons">
                search
            </i>
        </button>
      </div>


    </div>
    <div class="tarjeta-deporte">
      <p class="nombre_canchas capitals">WELLNESS CENTER & CDB1</p>
      <p class="nombre_deporte capitals">FUTBÓL RAPIDO</p>
      <p class="reserva_ahora capitals">RESERVA AHORA</p>
    </div>

    
      
        <div class="full-width w-dyn-list">
          <div role="list" class="products w-dyn-items">
            <div data-w-id="86c7c915-bcbe-c30c-93c0-5bed50ef155d"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              role="listitem" class="product-card-wrapper w-dyn-item"><a href="/product/teddy-bear"
                class="product-card w-inline-block">
                <div class="product-card-image-wrapper"><img
                    src="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min.png"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt=""
                    sizes="100vw"
                    srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min.png 1200w">
                </div>
                <h6 class="product-card-heading">Teddy Bear</h6>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                  class="product-card-price">$&nbsp;30.00&nbsp;USD</div>
              </a></div>
            <div data-w-id="86c7c915-bcbe-c30c-93c0-5bed50ef155d"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              role="listitem" class="product-card-wrapper w-dyn-item"><a href="/product/mega-plush-toy"
                class="product-card w-inline-block">
                <div class="product-card-image-wrapper"><img
                    src="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min.png"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt=""
                    sizes="100vw"
                    srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min.png 1200w">
                </div>
                <h6 class="product-card-heading">Mega Plush Toy</h6>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                  class="product-card-price">$&nbsp;38.00&nbsp;USD</div>
              </a></div>
            <div data-w-id="86c7c915-bcbe-c30c-93c0-5bed50ef155d"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              role="listitem" class="product-card-wrapper w-dyn-item"><a href="/product/cute-dog"
                class="product-card w-inline-block">
                <div class="product-card-image-wrapper"><img
                    src="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min.png"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt=""
                    sizes="100vw"
                    srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min.png 1200w">
                </div>
                <h6 class="product-card-heading">Cute Dog</h6>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                  class="product-card-price">$&nbsp;24.00&nbsp;USD</div>
              </a></div>
            <div data-w-id="86c7c915-bcbe-c30c-93c0-5bed50ef155d"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              role="listitem" class="product-card-wrapper w-dyn-item"><a href="/product/little-friend"
                class="product-card w-inline-block">
                <div class="product-card-image-wrapper"><img
                    src="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f1835e11376299a8089_33878-5-plush-toy-transparent-min.png"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt=""
                    sizes="100vw"
                    srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f1835e11376299a8089_33878-5-plush-toy-transparent-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f1835e11376299a8089_33878-5-plush-toy-transparent-min.png 1200w">
                </div>
                <h6 class="product-card-heading">Little Friend</h6>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                  class="product-card-price">$&nbsp;27.00&nbsp;USD</div>
              </a></div>
          </div>
        </div>
      
    

  </div>
</div>
