<div class="grid-container">
  <div class="deportes-container">
    <div class="deportes-title-header">
      <div *ngIf="showAgregarButton" class="deportes-agregar-container">
        <button mat-button color="button-agregar" (click)="onAgregarDeporte()">
          <div class="deportes-agregar-text">Agregar Deporte</div>
        </button>
      </div>

      <div class="deportes-title">Busca tu deporte</div>
      <div class="deportes-searchbox">
        <input
          class="searchbox-field"
          type="text"
          name=""
          placeholder="Buscar..."
          #searchBar
          (keyup)="searchTerm(searchBar.value)"
        />
        <button class="searchbox-button" href="#">
          <i class="material-icons"> search </i>
        </button>
      </div>
    </div>

    <div *ngIf="showedDeportes.length == 0" class="reservaciones-empty">
      <img
        class="reservaciones-empty-icon"
        src="./assets/img/recsports_logo_icon.png"
        alt=""
      />
      <div class="reservaciones-empty-text">No se encontraron resultados</div>
    </div>

    <div nz-row>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="6"
        nzXl="6"
        *ngFor="let deporte of showedDeportes"
      >
        <div class="tarjeta-deporte-10">
          <button
            class="tarjeta-deporte-button-1"
            (click)="onSelectDeporte(deporte)"
          >
            <div class="tarjeta-deporte-descripcion-1">
              <div>
                <div class="nombre_canchas capitals">
                  WELLNESS CENTER & CDB1
                </div>
                <div class="nombre_deporte capitals">
                  {{ deporte.nombre.toUpperCase() }}
                </div>
              </div>

              <div class="reserva_ahora capitals">RESERVA AHORA</div>
            </div>

            <img
              [src]="deporte.imagen"
              onerror="this.onerror=null;this.src='./assets/img/recsports_logo_icon.png';"
              class="preview"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
