<div class="grid-container">
  <div class="deporte-container">
    <div class="deporte-content">
      <div class="deporte-header-content">
        <div class="deporte-header-text">
          <div class="deporte-header-title">FÚTBOL</div>
          <div class="deporte-header-descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            aliquet luctus nulla, nec sagittis tortor aliquam eget. Donec non
            nisi nisl. Mauris a lacinia dui.
          </div>
        </div>
      </div>
      <div class="deporte-espacio-container">
        <div class="deporte-espacio-title">Espacios</div>

        <div nz-row class="deporte-espacio-list">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5">
            <div class="deporte-espacio-fondo">
              <div>CBD1</div>
              <div>Cancha 1</div>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5">
            <div class="deporte-espacio-fondo">
              <div>CBD2</div>
              <div>Cancha 2</div>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5">
            <div class="deporte-espacio-fondo">
              <div>CBD1</div>
              <div>Cancha 3</div>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5"></div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="5"></div>
        </div>
      </div>

      <div class="deporte-reservacion-container">
        <div class="deporte-reservacion-title">Febrero</div>
        <div class="deporte-reservacion-button-list">
          <div class="deporte-reservacion-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <div class="deporte-reservacion-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <div class="deporte-reservacion-button-container">
            <button mat-fab color="primary" disabled aria-label="date">
              10
            </button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="primary" disabled aria-label="date">
              11
            </button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="primary" aria-label="date">12</button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="unselected" aria-label="date">13</button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="today" aria-label="date">14</button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="unselected" aria-label="date">15</button>
          </div>
          <div class="deporte-reservacion-button-container">
            <button mat-fab color="unselected" aria-label="date">16</button>
          </div>

          <div class="deporte-reservacion-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <div class="deporte-reservacion-button-container">
            <button
              mat-mini-fab
              color="primary"
              aria-label="date empty"
              disabled
            ></button>
          </div>
        </div>

        <div class="deporte-reservacion-table">Tabla de Angular</div>
      </div>
    </div>
  </div>
</div>
