<div class="grid-container">
  <div class="deporte-container">
    <div class="deporte-content">
      <div class="deporte-header-content">
        <div></div>
        <div class="deporte-header-text-container">
          <div class="deporte-header-text">
            <div class="deporte-header-title">
              {{ deporte.nombre.toUpperCase() }}
            </div>
            <div class="deporte-header-descripcion">
              {{ deporte.descripcion }}
            </div>
          </div>

          <div *ngIf="showEditButton" class="deportes-edit-container">
            <button mat-button color="button-edit" (click)="onEditDeporte(deporte)">
              <div class="deportes-edit-text">Editar</div>
            </button>
          </div>
        </div>

        <img [src]="deporte.imagen" class="deporte-header-image" />
      </div>

      <div class="deporte-espacio-container">
        <div class="deporte-espacio-title">Espacios</div>

        <div nz-row class="deporte-espacio-list">
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="5"
            nzXl="5"
            *ngFor="let espacio of listaEspacios"
          >
            <div
              class="deporte-espacio-fondo"
              [style.background-image]="
                'linear-gradient(180deg, rgba(0, 0, 0, 0.29) 4%, #01329E 104%),url(' +
                espacio.imagen +
                ')'
              "
            >
              <div>{{ espacio.zona }}</div>
              <div>{{ espacio.nombre }}</div>
              <button
                *ngIf="showDeleteEspacio"
                class="espacio-delete-button"
                mat-mini-fab
                (click)="openDeleteEspacio(espacio)"
              >
                <mat-icon
                  [ngStyle]="{
                    transform: 'scale(1)'
                  }"
                  >close</mat-icon
                >
              </button>
            </div>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="5"
            nzXl="5"
            class="deporte-espacio-agregarContainer"
            *ngIf="showAddEspacio"
          >
            <button
              mat-button
              class="deporte-espacio-agregar"
              (click)="onCrearEspacio()"
            >
              <mat-icon [ngStyle]="{ color: '#E4E4E4', transform: 'scale(2)' }"
                >add</mat-icon
              >
            </button>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5"></div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="5"></div>
        </div>
      </div>

      <div class="deporte-reservacion-container">
        <div class="deporte-reservacion-title">
          {{
            daysOfTheWeek[selectedDay]
              .toLocaleString("es", {
                month: "long"
              })
              .toUpperCase()
          }}
        </div>
        <div class="deporte-reservacion-button-list">
          <div
            class="deporte-reservacion-button-container deporte-reservacion-button-past"
          >
            <button
              mat-mini-fab
              color="button-disabled"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <div
            class="deporte-reservacion-button-container deporte-reservacion-button-past"
          >
            <button
              mat-mini-fab
              color="button-disabled"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <!-- DAYS OF THE WEEK -->
          <div *ngFor="let item of daysOfTheWeek; index as i">
            <div *ngIf="i >= todayDay; else disabledDay">
              <div
                *ngIf="selectedDay == i"
                class="deporte-reservacion-button-container"
              >
                <button mat-fab color="button-selected" aria-label="date">
                  {{ item.getDate() }}
                </button>
                <div
                  class="deporte-reservacion-dia deporte-reservacion-dia-text"
                >
                  {{ daysOfTheWeekInString[item.getDay()] }}
                </div>
              </div>

              <div
                *ngIf="selectedDay != i"
                class="deporte-reservacion-button-container"
              >
                <button
                  mat-fab
                  color="unselected"
                  aria-label="date"
                  (click)="onSelectDay(i)"
                >
                  {{ item.getDate() }}
                </button>
                <div class="deporte-reservacion-dia">
                  {{ daysOfTheWeekInString[item.getDay()] }}
                </div>
              </div>
            </div>

            <ng-template #disabledDay>
              <div class="deporte-reservacion-button-container">
                <button
                  mat-fab
                  color="button-disabled"
                  disabled
                  aria-label="date"
                >
                  {{ item.getDate() }}
                </button>
                <div class="deporte-reservacion-dia">
                  {{ daysOfTheWeekInString[item.getDay()] }}
                </div>
              </div>
            </ng-template>
          </div>

          <div
            class="deporte-reservacion-button-container deporte-reservacion-button-past"
          >
            <button
              mat-mini-fab
              color="button-disabled"
              aria-label="date empty"
              disabled
            ></button>
          </div>

          <div
            class="deporte-reservacion-button-container deporte-reservacion-button-past"
          >
            <button
              mat-mini-fab
              color="button-disabled"
              aria-label="date empty"
              disabled
            ></button>
          </div>
        </div>

        <!-- TABLA RESERVACIONES -->

        <div
          class="deporte-reservacion-table-container"
          style="overflow-x: auto; white-space: nowrap"
        >
          <!-- <div class="deporte-tiempo-linea">
            <div class="deporte-tiempo-circulo"></div>
          </div> -->

          <table mat-table [dataSource]="dataSource">
            <!-- HOUR Column -->
            <ng-container matColumnDef="demo-position">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="deporte-reservacion-hora">
                  {{ element }}
                </div>
              </td>
            </ng-container>

            <!-- Button -->
            <ng-container matColumnDef="demo-name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element of dataSource; let i = index"
              >
                <div class="spacer"></div>
                <mat-divider></mat-divider>
                <div class="spacer"></div>

                <!-- <div
                  style="overflow-x: auto; white-space: nowrap"
                  [ngClass]="
                    currentBreakpoint == breakpointLarge
                      ? 'width-large'
                      : currentBreakpoint == breakpointMedium
                      ? 'width-medium'
                      : currentBreakpoint == breakpointSmall
                      ? 'width-small'
                      : 'width-xsmall'
                  "
                > -->
                <div>
                  <div
                    *ngFor="let reservacion of arrayReservacion[dataSource[i]]"
                    style="display: inline-block"
                  >
                    <button
                      mat-button
                      color="horario"
                      (click)="openDialog(reservacion)"
                      *ngIf="reservacion.estatus == 1"
                    >
                      <div class="deporte-reservacion-horario">
                        {{ reservacion.espacio_nombre }}
                      </div>
                    </button>

                    <button
                      mat-button
                      color="horario-activo"
                      *ngIf="reservacion.estatus == 2"
                      (click)="openDialog(reservacion)"
                    >
                      <div class="deporte-reservacion-horario">
                        {{ reservacion.espacio_nombre }}
                      </div>
                    </button>

                    <button
                      mat-button
                      color="horario-expirado"
                      *ngIf="reservacion.estatus == 3"
                      (click)="openDialog(reservacion)"
                      disabled
                    >
                      <div class="deporte-reservacion-horario">
                        {{ reservacion.espacio_nombre }}
                      </div>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
              [style.border-bottom]="'3px solid rgba(0,0,0,0)'"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [style.border-bottom]="'3px solid rgba(0,0,0,0)'"
              class="deporte-reservacion-cell"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
