.grid-container {
  position: relative;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.deporte-container {
  padding: 6rem 1rem 1rem 8rem;
}

@media (max-width: 960px) {
  .deporte-container {
    padding: 6rem 1rem 1rem 1rem;
  }
}

.deporte-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.deporte-header-content {
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);

  min-height: 30vh;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
}

.deporte-header-text-container {
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(22, 38, 134, 0.8),
    rgb(255, 255, 255, 0)
  );
  height: 30vh;
  width: 100%;

  z-index: 1;
  border-radius: 1rem;
  display: flex;
}

.deporte-header-image {
  width: 100%;
  border-radius: 1rem;
  height: 30vh;
  object-fit: cover;
}

.deporte-header-text {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-start;

  color: white;
  padding: 2rem;
}

.deporte-header-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.deporte-header-descripcion {
  font-size: 1rem;
  font-weight: 500;
}

.deportes-edit-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

/* Mobile */
@media (max-width: 600px) {
  .deportes-edit-container {
    position: absolute;
    bottom: 0;
  }

  .deporte-header-descripcion {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70vw;
  }
}

.mat-button-edit {
  border: 0.2rem solid #162686;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
}

.deportes-edit-text {
  color: #162686;
  font-size: 1.2rem;
}

.deporte-espacio-container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;

  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.deporte-espacio-expansion-panel {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.deporte-espacio-expansion-container {
  margin-bottom: 2rem;
}

.deporte-espacio-title {
  font-size: 2rem;
  font-weight: 700;
}

.deporte-espacio-list {
  padding: 1rem 0 1rem 0;

  color: white;
  font-weight: 700;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.deporte-espacio-fondo {
  background-image: linear-gradient(
      to right,
      rgb(22, 38, 134, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url("https://conecta.tec.mx/sites/default/files/styles/header_full/public/2019-04/Estadio-borregos1920.jpg?h=920929c4&itok=qJq33r8o");
  background-position: center center;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);

  padding: 1rem;
  min-height: 15vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.espacio-delete-button {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #c22424;
}

.deporte-espacio-agregarContainer {
  min-height: 12vh;
  display: flex;

  align-items: center;
}

.deporte-espacio-agregar {
  width: 60%;
  min-height: 10vh;
  border: 0.4rem solid #e4e4e4;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.05);
  border-style: dashed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.deporte-reservacion-container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;

  padding: 1.5rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.deporte-reservacion-title {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.deporte-reservacion-button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deporte-reservacion-button-container {
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deporte-reservacion-button-past {
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  .deporte-reservacion-button-past {
    display: none;
  }
}

@media (max-width: 960px) {
  .deporte-reservacion-button-list {
    flex-wrap: wrap;
  }
}

.deporte-reservacion-dia {
  font-size: 1rem;
  color: #bec2dd;
  padding-top: 0.5rem;
}

.deporte-reservacion-dia-text {
  color: #152586;
  font-weight: 900;
}

.deporte-reservacion-dia-disabled {
  font-size: 1rem;
}

.mat-button-disabled {
  background-color: #bec2dd;
  color: white;
}

.mat-button-selected {
  font-weight: 900;
  background-color: #152586;
  color: white;
}

.mat-unselected {
  font-weight: 900;
  background-color: #e7e7e7;
  color: black;
}

.mat-today {
  font-weight: 900;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid black;
  border-style: dashed;
}

/* TABLE RESERVACIONES */
.deporte-reservacion-table-container {
  padding: 0 1rem 0 1rem;
  position: relative;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.deporte-tiempo-linea {
  position: absolute;
  height: 100%;
  width: 90%;
  margin-left: 5rem;

  border-top: 2px solid #152586;
  transform: translateY(
    /* CAMBIR PARA VER           |                 |        */
      calc(4rem + ((100 / 16) * ((16 - 6) - (0.01 * (16 - 6))) * 1%))
  );
}

.deporte-tiempo-circulo {
  height: 1rem;
  width: 1rem;

  border-radius: 100%;
  margin-left: -0.5rem;
  margin-top: -0.55rem;
  background-color: #152586;
}

.mat-column-demo-position {
  width: 2rem;
  padding-right: 1.6rem;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 1.4rem;
}

.deporte-reservacion-cell {
  vertical-align: top;
}

.spacer {
  height: 0.5rem;
}

.mat-divider {
  border-top-width: 0.2rem;
  border-top-style: dashed;
}

.deporte-reservacion-hora {
  font-size: 1rem;
  font-weight: 900;
  color: #cfcfcf;
}

.mat-horario {
  background-color: #4959bf;
  border-radius: 0.6rem;
  padding: 1.3rem 2.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.mat-horario-activo {
  background-color: #c9cdeb;
  border-radius: 0.6rem;
  padding: 1.3rem 2.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.mat-horario-expirado {
  background-color: #d3d3d3;
  border-radius: 0.6rem;
  padding: 1.3rem 2.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.deporte-reservacion-horario {
  color: white;
  font-weight: 900;
}
/* END TABLA RESERVACIONES */

@media (min-width: 1000px) {
  .deporte-header-text {
    max-width: 40%;
  }
  .deporte-header-title {
    font-size: 3rem;
    font-weight: 700;
  }

  .deporte-header-descripcion {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .deporte-espacio-fondo {
    margin-right: 2rem;
  }
  .deporte-espacio-list .deporte-espacio-fondo {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .deporte-espacio-fondo {
    margin-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .deporte-espacio-fondo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .mat-horario {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .mat-horario-activo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .mat-horario-expirado {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .deporte-reservacion-container {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  .deporte-reservacion-hora {
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
  }

  .mat-horario {
    padding: 1.3rem 2rem;
    font-size: 1.1rem;
  }

  .mat-horario-activo {
    padding: 1.3rem 2rem;
    font-size: 1.1rem;
  }

  .mat-horario-expirado {
    padding: 1.3rem 2rem;
    font-size: 1.1rem;
  }
  .deporte-reservacion-button-container {
    padding: 0.5rem 1rem 0 1rem;
    font-size: 1.5rem;
  }

  .deporte-reservacion-title {
    margin-bottom: 0.5rem;
  }

  .deporte-reservacion-cell-table {
    display: flex;
    flex-wrap: nowrap;
  }

  .deporte-reservacion-table-container {
    padding: 0;
  }
}
/* ::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  border: 1px solid transparent;
}

.width-large {
  width: 100rem;
}

.width-medium {
  width: 60rem;
}

.width-small {
  width: 35rem;
}

.width-xsmall {
  width: 10rem;
} */
