<mat-sidenav-container class="sidenav-container" style="position: fixed">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <!-- <button
        type="button"
        color="primary"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      </button> -->
      <img
        class="header-image"
        src="/assets/img/recsports_logo.png"
        alt="recsports logo"
      />
    </mat-toolbar>
    <mat-nav-list style="padding-top: 2rem">
      <div *ngIf="navbarFlags.inicioFlag">
        <a
          mat-list-item
          routerLink=""
          class="sidebar-list-item"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >home icon</mat-icon
            >
            <span class="sidebar-element-text">Inicio</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.inicioEntrenadorFlag">
        <a
          mat-list-item
          routerLink="home-entrenador"
          class="sidebar-list-item"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >home icon</mat-icon
            >
            <span class="sidebar-element-text">Inicio</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.gimnasioFlag">
        <a
          mat-list-item
          routerLink="gimnasio"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >fitness_center</mat-icon
            ><span class="sidebar-element-text">Gimnasio</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.deportesFlag">
        <a
          mat-list-item
          routerLink="deportes"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >pool icon</mat-icon
            ><span class="sidebar-element-text">Deportes</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.calendarioFlag">
        <a
          mat-list-item
          routerLink="calendario"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
          ><div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >event note icon</mat-icon
            ><span class="sidebar-element-text">Calendario</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.noticasFlag">
        <a
          mat-list-item
          routerLink="noticias"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
          ><div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >assignment icon</mat-icon
            ><span class="sidebar-element-text">Noticias</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.mapaFlag">
        <a
          mat-list-item
          routerLink="mapa"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >map icon</mat-icon
            ><span class="sidebar-element-text">Mapa</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.encuestaAdminFlag">
        <a mat-list-item routerLink="encuesta-admin" class="sidebar-button">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >chat icon</mat-icon
            ><span class="sidebar-element-text">Encuesta</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.encuestaFlag">
        <a
          mat-list-item
          routerLink="encuesta"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >chat icon</mat-icon
            ><span class="sidebar-element-text">Encuesta</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.entradaFlag">
        <a
          mat-list-item
          routerLink="gimnasio/entrada"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >arrow_forward</mat-icon
            ><span class="sidebar-element-text">Registrar</span>
            <span class="sidebar-element-text">Entrada</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.salidaFlag">
        <a
          mat-list-item
          routerLink="gimnasio/salida"
          class="sidebar-button"
          (click)="showSidebar ? openSidebar(false) : null"
        >
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >arrow_back</mat-icon
            ><span class="sidebar-element-text">Registrar</span>
            <span class="sidebar-element-text">Salida</span>
          </div></a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="background-blur"
      [ngClass]="showSidebar ? '' : 'disactive-background'"
      (click)="openSidebar(false)"
      style="position: fixed"
    ></div>
    <mat-toolbar color="primary" class="header-toolbar" style="position: fixed">
      <button
        type="button"
        color="primary"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openSidebar(true)"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header-container">
        <span class="header-title">Athletics</span>
        <div class="header-user">
          <!-- <div class="header-user-info">
            <span class="header-user-matricula">{{ user.matricula }}</span>
            <span class="header-user-role">{{ user.userRole }}</span>
          </div> -->
          <button
            mat-button
            color="perfil"
            class="header-user-menu"
            [matMenuTriggerFor]="menu"
            [ngStyle]="{ padding: '1.5rem 0.5rem 1.5rem 0.5rem' }"
          >
            <div class="header-user-info">
              <button
                mat-mini-fab
                color="primary"
                class="header-user-icon"
                aria-label="Example icon button with a menu icon"
                [ngStyle]="{ transform: 'scale(0.8)', boxShadow: 'none' }"
              >
                {{ userName[0] }}
              </button>
              <div class="header-user-name">{{ userName }}</div>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onMisReservaciones()">
              <mat-icon>menu</mat-icon>
              Mis Reservaciones
            </button>
            <button mat-menu-item (click)="onCredencial()">
              <mat-icon>credit_card</mat-icon>
              Mi Credencial
            </button>
            <button mat-menu-item (click)="onLogOut()">
              <mat-icon aria-hidden="false">login</mat-icon>
              Cerrar Sesión
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
