.sidenav-container {
  height: 100%;
  position: fixed;
}

.sidenav {
  width: 6.3rem;
  border-color: transparent;
}

.sidenav .mat-toolbar {
  background: white;
  padding: 2rem 0 0 1rem;
}

.mat-toolbar.mat-primary {
  background: White;
  color: black;
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
}

.mat-sidenav-content.mat-toolbar.span {
  font-size: 10rem;
}

.header-toolbar {
  position: fixed;
  padding: 2.5rem 6.3rem 2.5rem 2rem;
}

.header-title {
  font-size: 1.8rem;
}

.header-image {
  height: 3rem;
  width: auto;
}

.header-image-container {
  position: relative;
}

.sidebar-list-element {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  justify-content: center;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 6rem;
}

.sidebar-icon {
  transform: scale(1);
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-element-text {
  font-size: 0.8rem;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-user {
  display: flex;
  padding: 0 2rem 0 0;
  line-height: 1.1rem;
}

.mat-perfil {
  background-color: #f5f8ff;
  border-radius: 1rem;
}

.header-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-user-icon {
  background-color: #98b7f2;
  border-radius: 100%;
}

.header-user-name {
  font-weight: 900;
  padding: 0 0.5rem 0 0.5rem;
  width: 8rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-user-button {
  display: block;
}

.logOut-icon {
  transform: scale(1.8);
  color: white;
}

.background-blur {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

.disactive-background {
  display: none;
}

@media (max-width: 960px) {
  .header-user {
    padding-right: 0;
  }

  .header-toolbar {
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  }

  .header-user-name {
    width: 5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
