<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <div class="header-image-container">
        <img
          class="header-image"
          src="/assets/img/recsports_logo.png"
          alt="recsports logo"
        /></div
    ></mat-toolbar>
    <mat-nav-list style="padding-top: 2rem">
      <div *ngIf="navbarFlags.inicioFlag">
        <a mat-list-item routerLink="" class="sidebar-list-item">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >home icon</mat-icon
            >
            <span class="sidebar-element-text">Inicio</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.gimnasioFlag">
        <a mat-list-item routerLink="gimnasio" class="sidebar-button">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >fitness_center</mat-icon
            ><span class="sidebar-element-text">Gimnasio</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.deportesFlag">
        <a mat-list-item routerLink="deportes" class="sidebar-button">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >pool icon</mat-icon
            ><span class="sidebar-element-text">Deportes</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.calendarioFlag">
        <a mat-list-item routerLink="calendario" class="sidebar-button"
          ><div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >event note icon</mat-icon
            ><span class="sidebar-element-text">Calendario</span>
          </div>
        </a>
      </div>

      <div *ngIf="navbarFlags.noticasFlag">
        <a mat-list-item routerLink="noticias" class="sidebar-button"
          ><div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >assignment icon</mat-icon
            ><span class="sidebar-element-text">Noticias</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.mapaFlag">
        <a mat-list-item routerLink="mapa" class="sidebar-button">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >map icon</mat-icon
            ><span class="sidebar-element-text">Mapa</span>
          </div></a
        >
      </div>

      <div *ngIf="navbarFlags.encuestaFlag">
        <a mat-list-item routerLink="encuesta" class="sidebar-button">
          <div class="sidebar-list-element">
            <mat-icon class="sidebar-icon" fontSet="material-icons-outlined"
              >chat icon</mat-icon
            ><span class="sidebar-element-text">Encuesta</span>
          </div></a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button
        type="button"
        color="primary"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header-container">
        <span class="header-title">Athletic</span>
        <div class="header-user">
          <!-- <div class="header-user-info">
            <span class="header-user-matricula">{{ user.matricula }}</span>
            <span class="header-user-role">{{ user.userRole }}</span>
          </div> -->
          <button
            mat-button
            color="perfil"
            class="header-user-menu"
            [matMenuTriggerFor]="menu"
            [ngStyle]="{ padding: '1.5rem 0.5rem 1.5rem 0.5rem' }"
          >
            <div class="header-user-info">
              <button
                mat-mini-fab
                color="primary"
                class="header-user-icon"
                aria-label="Example icon button with a menu icon"
                [ngStyle]="{ transform: 'scale(0.8)', boxShadow: 'none' }"
              >
                SM
              </button>
              <div class="header-user-name">{{ userName }}</div>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onMisReservaciones()">
              Mis Reservaciones
            </button>
            <button mat-menu-item (click)="onLogOut()">Cerrar Sesión</button>
          </mat-menu>

          <!-- <button
            class="header-user-button"
            mat-raised-button
            style="background-color: #00035e; color: white"
            (click)="onLogOut()"
            
          >
            <mat-icon class="logOut-icon" fontSet="material-icons-outlined"
              >account_circle</mat-icon
            >
          </button> -->
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
