<div mat-dialog-content class="modal-container">
  <div class="modal-header">
    <div
      *ngIf="showLoading == false && showFailed == false && showSucces == false"
      class="modal-title title-info"
    >
      {{
        this.data.reservacion.estatus == "2"
          ? "Reservado por Alumno!!!"
          : "Información de Reservación"
      }}
    </div>
    <div *ngIf="showLoading" class="modal-title title-info">
      Validando reservación
    </div>
    <div *ngIf="showSucces" class="modal-title title-success">
      Reservacion confirmada
      <mat-icon
        aria-hidden="success"
        aria-label="Example donwload icon"
        fontIcon="error"
      ></mat-icon>
    </div>
    <div *ngIf="showFailed" class="modal-title title-failed">
      Reservacion fallida
    </div>

    <div>
      <button
        mat-mini-fab
        color="cancel-button"
        [ngStyle]="{ color: '#E4E4E4', transform: 'scale(0.8)' }"
        (click)="onNoClick()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="
      (showLoading == false && showFailed == false && showSucces == false) ||
      showSucces
    "
  >
    <div class="modal-info">
      <span class="modal-title">Fecha: </span>
      <span class="modal-text">{{ this.data.reservacion.fecha }}</span>
    </div>

    <div>
      <span class="modal-title">Hora: </span>
      <span class="modal-text">{{
        this.data.reservacion.hora_seleccionada
      }}</span>
    </div>

    <div>
      <span class="modal-title">Cancha: </span>
      <span class="modal-text">{{ this.data.reservacion.espacio_nombre }}</span>
    </div>

    <div>
      <span class="modal-title">Zona: </span>
      <span class="modal-text">{{ this.data.reservacion.zona }}</span>
    </div>

    <div *ngIf="this.data.reservacion.estatus == '2'">
      <span class="modal-title">Alumno: </span>
      <span class="modal-text">{{
        this.data.reservacion.matricula_alumno
      }}</span>
    </div>

    <div *ngIf="showSucces">
      <span class="modal-text remainder-text"
        >Tienes 15 minutos de tolerancia para tu reservación</span
      >
    </div>
  </div>
  <div
    class="modal-confirmar"
    *ngIf="showLoading == false && showFailed == false && showSucces == false"
  >
    <button
      *ngIf="this.data.reservacion.estatus == '1'"
      color="confirm-button"
      mat-button
      (click)="onConfirmClick()"
    >
      Confirmar Reservación
    </button>

    <button
      *ngIf="this.data.reservacion.estatus == '2'"
      color="cancel-reservacion-button"
      mat-button
      (click)="onCancelReservacion()"
    >
      Cancelar Reservación
    </button>
  </div>

  <div class="modal-confirmar" *ngIf="showSucces">
    <button
      color="success-button"
      mat-button
      (click)="onMisReservacionesClick()"
    >
      Ver "Mis Reservaciones"
    </button>
  </div>

  <div *ngIf="showLoading">Cargando... (icon)</div>
  <div *ngIf="showFailed">
    Vuelva a intentar o seleccione otro horarios disponible
  </div>
</div>
