<div class="grid-container">
  <div class="registro-container">
    <div class="gimnasio-registro-box">
      <div class="gimnasio-registro-title">Registro: Entrada</div>
      <mat-form-field appearance="outline" class="registro-matricula-container">
        <input
          id="entrada-box"
          matInput
          placeholder="Matricula..."
          [(ngModel)]="matricula"
          autofocus
        />
      </mat-form-field>

      <button
        *ngIf="loading == false"
        mat-button
        color="button-registro"
        (click)="onSubmitMatricula()"
      >
        <div class="button-registro-text">Registrar entrada</div>
      </button>

      <button
        *ngIf="loading"
        mat-button
        color="button-registro"
        disabled="true"
      >
        <div class="custom-spinner">
          <mat-spinner color="#ffffff" diameter="30"></mat-spinner>
        </div>
      </button>
    </div>
    <div>{{ message }}</div>
  </div>
</div>
