<!-- Contenedor de la pagina Registro de Salida -->
<div class="grid-container">
  <!-- Al hacer click en cualquier parte la pagina, se selecciona por defecto el Input de Registro -->
  <div class="registro-container" (click)="onScannerFocusInput()">
    <!-- Tarjeta de Registro -->
    <div class="gimnasio-registro-box">
      <div class="gimnasio-registro-title">Registro: Entrada</div>

      <!-- Input de Registro de Salida -->
      <mat-form-field appearance="outline" class="registro-matricula-container">
        <!-- Cuando se detecta el lector de codigo de barras, se ejecuta en automatico la funcion onScannerInput -->
        <input
          id="entrada-box"
          matInput
          placeholder="Matricula..."
          [(ngModel)]="matricula"
          autofocus
          (change)="onScannerInput()"
        />
      </mat-form-field>

      <!-- Boton para registrar Entrada -->
      <button
        *ngIf="loading == false"
        mat-button
        color="button-registro"
        (click)="onSubmitMatricula()"
      >
        <div class="button-registro-text">Registrar entrada</div>
      </button>

      <!-- Boton de carga -->
      <button
        *ngIf="loading"
        mat-button
        color="button-registro"
        disabled="true"
      >
        <div class="custom-spinner">
          <mat-spinner color="#ffffff" diameter="30"></mat-spinner>
        </div>
      </button>
    </div>
    <div>{{ message }}</div>
  </div>
</div>
