<div class="grid-container">
  <div class="espacios-formulario-container">
    <div class="espacios-container">
      <div class="espacio-header">Crear nuevo Espacio</div>
      <div class="espacio-form">
        <div nz-row>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Nombre del Espacio</div>
            <mat-form-field appearance="outline" class="input-container">
              <input matInput placeholder="Escribe..." />
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Edificio / Área</div>
            <mat-form-field
              class="example-full-width"
              appearance="outline"
              class="input-container"
            >
              <mat-label>Área</mat-label>
              <input
                type="text"
                placeholder="Selecciona"
                aria-label="Area"
                matInput
                [formControl]="areas"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Aforo</div>
            <mat-form-field appearance="outline" class="input-container">
              <input matInput placeholder="Escribe..." />
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Horarios</div>

            <div *ngIf="horariosSelected.length != 0">
              <div class="form-horarios-selected">
                <button
                  mat-button
                  *ngFor="let horario of horariosSelected"
                  color="button-horario"
                  (click)="removeSelectedHorario(horario)"
                >
                  <div class="form-button-horario">
                    <div class="form-horario-text">{{ horario }}</div>

                    <mat-icon [ngStyle]="{ color: 'white' }">clear</mat-icon>
                  </div>
                </button>
              </div>
            </div>

            <mat-form-field appearance="outline" class="input-container">
              <mat-label>Selecciona</mat-label>
              <mat-select
                #matRef
                [formControl]="horarios"
                multiple
                (selectionChange)="changeSelectedEspacios($event.value)"
              >
                <mat-select-trigger>
                  {{horarios.value?.[0] || ''}}
                  <span
                    *ngIf="(horarios.value?.length || 0) > 1"
                    class="example-additional-selection"
                  >
                    (+{{ (horarios.value?.length || 0) - 1 }})
                  </span>
                </mat-select-trigger>

                <mat-option
                  *ngFor="let horario of listaHorarios"
                  [value]="horario"
                  >{{ horario }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Materiales</div>
            <mat-form-field appearance="outline" class="input-container">
              <input matInput placeholder="Escribe..." />
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Descripción</div>
            <mat-form-field appearance="outline" class="input-container">
              <input matInput placeholder="Escribe..." />
            </mat-form-field>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div class="espacio-form-title">Carga de archivos</div>

            <!-- CARGA DE IMAGEN -->
            <mat-form-field appearance="outline" class="input-container">
              <mat-toolbar>
                <div ondrag="uploadFiles()">
                  <input hidden matInput />
                  <input
                    style="width: 100%; background-color: white"
                    type="file"
                    id="fileInput"
                    name="fileInput"
                    accept="image/*"
                    (change)="selectFiles($event)"
                  />
                  <div class="image-text">
                    <span class="drop-image-text">Arrastra y suelta o </span>
                    <span class="navigate-image-text">Navega dispositivo</span>
                  </div>
                </div>
              </mat-toolbar>
            </mat-form-field>
            <div *ngIf="preview != ''" class="espacio-form-archivo">
              <b>Imagen:</b> {{ selectedFileNames[0] }}
            </div>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="12"
            nzXl="12"
            class="espacio-form-item"
          >
            <div *ngIf="preview != ''" class="image-preview">
              <div class="preview-container">
                <div class="preview-filter">
                  <div class="capitals">CDB1</div>
                  <div class="capitals">Cancha 3</div>
                </div>
                <img [src]="preview" class="preview" />
              </div>
            </div>
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="24"
            nzLg="24"
            nzXl="24"
            class="espacio-form-item"
          >
            <div class="buttons-container">
              <button
                mat-button
                color="button-cancelar"
                (click)="onCancelClick()"
              >
                <div class="espacio-cancelar-text">Cancelar</div>
              </button>
              <button mat-button color="button-guardar">
                <div class="espacio-guardar-text">Guardar</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
