<nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let noticia of listaNoticias" [style.background-image]= 
    "'linear-gradient(180deg, rgba(0, 0, 0, 0.29) 4%, #01329E 104%),url(' + noticia.imagen + ')'" (click)="redirectToUrl(noticia.url)">
        <div class="inner-card">
            <p class="news-place">{{ noticia.lugar }}</p>
            <h3>{{ noticia.titulo }}</h3>
            <p class="news-date">{{ noticia.fecha }}</p>
        </div>
    </div>
</nz-carousel>


<!-- cambia div para bottom text -->