<!-- 
<nz-carousel nzAutoPlay>
    <div nz-carousel-content class="news-card" *ngFor="let news of newsArray">
        <div class="inner-card">
            <p class="news-place">{{ news.place }}</p>
            <h3>{{ news.title }}</h3>
            <p class="news-date">{{ news.date }}</p>
        </div>
    </div>
</nz-carousel>
-->



<nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let news of data">
      <div class="news-card" [style.backgroundImage]="'linear-gradient(180deg, rgba(0, 0, 0, 0.29) 4%, #01329E 104%),url(' + news.imagen + ')'" (click)="redirectToUrl(news.url)">
        <div class="inner-card">
          <p class="news-place">{{ news.fecha }}</p>
          <h3>{{ news.id }}</h3>
          <p class="news-date">{{ news.horario }}</p>
        </div>
      </div>
    </div>
</nz-carousel>


<!--
id: string;
fecha: string;
horario: string;
url: string;
imagen: string;
-->



<!-- cambia div para bottom text -->