<div class="grid-container">
    <div class="nueva-noticia-container">
      <div class="nuevo-container">
        <div class="nuevo-header">Agregar noticia</div>

        <form class="nuevo-form" [formGroup]="formularioNoticia" (ngSubmit)="enviarDatos()">
          <div nz-row>
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="24"
              nzLg="24"
              nzXl="24"
              class="nuevo-form-item"
            >
              <div class="nuevo-form-title">Título</div>
              <mat-form-field appearance="outline" class="input-container">
                <input matInput placeholder="Escribe..." formControlName="titulo" class="custom-input"/>
                <div class="mat-mdc-form-field-subscript-wrapper">
                  <!-- Other elements within the mat-form-field -->
                </div>
              </mat-form-field>
              <div *ngIf="formularioNoticia.get('titulo')?.invalid && formularioNoticia.get('titulo')?.touched" class="error-text">
                Ingrese un título
              </div>
            </div>
  
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="12"
              nzLg="12"
              nzXl="12"
              class="nuevo-form-item"
            >
              <div class="nuevo-form-title">Fecha</div>
              <nz-date-picker class="input-calendar"
                              nzPlaceHolder="Seleccione una fecha"
                              formControlName="fecha"
                              [nzFormat]="'yyyy-MM-dd'"
                              [nzShowTime]="false"
                              (ngModelChange)="onDateSelected($event)"
                              nzRequired>
              </nz-date-picker>
              <div *ngIf="formularioNoticia.get('fecha')?.invalid && formularioNoticia.get('fecha')?.touched" class="zorro-error-text">
                Seleccione una fecha válida
              </div>
            </div>
  
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="12"
              nzLg="12"
              nzXl="12"
              class="nuevo-form-item"
            >
            <div class="nuevo-form-title">Hora</div>
            <nz-time-picker class="input-calendar"
                            nzPlaceHolder="Seleccione una hora"
                            formControlName="hora"
                            [nzFormat]="'HH:mm'"
                            (ngModelChange)="onHourSelected($event)"
                            nzRequired>
            </nz-time-picker>
            <div *ngIf="formularioNoticia.get('hora')?.invalid && formularioNoticia.get('hora')?.touched" class="zorro-error-text-hora">
              Seleccione una hora válida
            </div>


            </div>
  
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="12"
              nzLg="12"
              nzXl="12"
              class="nuevo-form-item"
            >
              <div class="nuevo-form-title">Lugar</div>
              <mat-form-field appearance="outline" class="input-container">
                <input matInput placeholder="Escribe..." formControlName="lugar"/>         
              </mat-form-field>
              <div *ngIf="formularioNoticia.get('lugar')?.invalid && formularioNoticia.get('lugar')?.touched" class="error-text">
                Ingrese un lugar
              </div> 
            </div>
  
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="12"
              nzLg="12"
              nzXl="12"
              class="nuevo-form-item"
            >
              <div class="nuevo-form-title">URL</div>
              <mat-form-field appearance="outline" class="input-container">
                <input matInput placeholder="Escribe..." formControlName="url"/>
              </mat-form-field>
            </div>
  
            <div
              nz-col
              nzXs="24"
              nzSm="24"
              nzMd="24"
              nzLg="24"
              nzXl="24"
              class="nuevo-form-item"
            >
              <div class="buttons-container">
                <button
                  mat-button
                  color="button-cancelar"
                  (click)="onCancelClick()"
                >
                  <div class="deportes-cancelar-text">Cancelar</div>
                </button>
                <button type="submit" mat-button color="button-guardar">
                  <div class="deportes-guardar-text">Guardar</div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  