<div class="grid-container">
  <div class="home-container">
    <nz-content>
      <div nz-col>
        <div nz-row style="width:100%; height: 30vh;">
            <div nz-col id="bar-card" style="width:100vh;" class="cards-dashboard">
                <div>
                    Tendencia de concurrencia
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>

            <div nz-col style="width: 24px"></div>
            
            <div nz-col id="donut-card" style="width:60vh;" class="cards-dashboard">
              <div>
                Aforo
              </div>
            </div>
        </div>


        <div nz-row style="height: 15vh;"></div>


        <div nz-row style="height: 43vh;">

          <div nz-col style="width:calc(80vh);" class="news-card">
            <div>
              Noticias
            </div>
            <app-bar></app-bar>
          </div>

          <div nz-col style="width: 24px"></div>

          <div nz-col style="width:calc(80vh);" class="cards-dashboard">
            <div>
              Deportes
            </div>
            <app-bar></app-bar>
          </div>
            
        </div>
        
    </div>
      
    </nz-content>

  </div>
</div>
