<!-- Contenedor de la pagina de Inicio (cada componente se muestra en una tarjeta) -->
<div class="grid-container">
  <div class="home-container">
    <div nz-row [nzGutter]="[20, 40]">
      <!-- Componente de Grafica de Barras de Pronostico e Historial -->
      <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
        <div id="bar-card" class="cards-dashboard" style="height: 26rem">
          <div class="scrolling-wrapper">
            <app-bar-chart></app-bar-chart>
          </div>
        </div>
      </div>

      <!-- Componente de Grafica circular de Pastel de Aforo del gimnasio -->
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
        <div id="donut-card" class="cards-dashboard" style="height: 26rem">
          <div>
            <app-donut-chart></app-donut-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- Componente de Noticias -->
    <div nz-row [nzGutter]="[20, 40]">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div style="height: 18rem">
          <app-news></app-news>
        </div>
      </div>

      <!-- Componente de Deportes favoritos -->
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div class="cards-dashboard">
          <a nz-button nzType="link">
            <div class="link-text" (click)="onSelectDeportes()">
              Oferta de deportes
              <mat-icon style="padding-top: 2px">arrow_right_alt</mat-icon>
            </div>
          </a>
          <div>
            <app-deportes-fav></app-deportes-fav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
